@font-face {
  font-family: 'iconfont';  /* project id 1669231 */
  src: url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.eot');
  src: url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1669231_0amkxe1d1usf.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
